body {
    margin: 0;
    background-color: #124d69;
    color: white;
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
}
h2 {
    text-decoration: underline;   
}
li {
    margin-bottom: 25px;
}
img {
    max-width: 500px;
}
.main-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.incorrect {
    background-color: red;
}
.correct {
    background-color: green;
}
.quiz-app-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.button {
    margin-bottom: 10px;
    padding: 15px;
    width: 200px;
}
.start-the-test, .quit, .next {
    background-color: #112650;
    color: white;   
    padding: 15px; 
}
.option-container {
    display: flex;
    flex-direction: column;
}
.quiz {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}